<p>Add a new Definition:</p>

<form action="/definitions" method="post">
  <label for="meaning">Enter a definition</label>
  <input id="meaning" name="meaning" type="text"> ## does this have to be meaning as in Definition.java?

  <button type="submit" class="btn btn-default">Add definition</button>
</form>
